[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysnow = "*"
python-magic = "*"
requests = "*"
tqdm = "*"
datetime = "*"
ov-cmdb-sync = {file = ".", editable = true}

[dev-packages]
pytest = "*"
pytest-timeout = "*"

[requires]
python_version = "3.9"
